
main > .container, main > .container-fluid {
    padding: 60px 0 0;
}
#map, #windy{
    height: calc(100vh - (60px * 2) + 4px);
}
#customContextMenu {
    display: none;
    position: absolute;
    background-color: #212529;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* A menüt mindig a térkép felett jelenítjük meg */
}
.btn-custom-info, .fc-button-primary{
    background-color: var(--linkColor) !important;
    border: 1px solid var(--linkColor);
    color: #fff;
    transition: ease-in-out all 0.2s;
}
.btn-custom-info:hover, .fc-button-primary:hover{
    background-color: var(--linkHColor);
    border: 1px solid var(--linkHColor);
    color: #fff;
}

.card-img-fixed{
    width: 100%;
    max-width: 310px;
    height: 293px;
}
@media screen and (max-width: 768px) {
    .card-img-fixed{
        width:100%;
        max-width: 100%;
    }
}

.card-title{
    height: 48px;
}
.card-text{
    text-align: center;
    min-height: 48px;
}
.ml-3{
    margin-left: 10px;
}
.event-meta{
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.30);
}

.event-details{
    margin-top: 25px;
}
.event-details img {
    float:left;
    margin-right: 10px;
    padding-bottom: 20px;
    max-width: 320px;
}
.address-nth-1{
    border-bottom-left-radius: 0px !important;
}
.address-nth-4{
    border-bottom-right-radius: 0px !important;
}
.address-nth-5{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.address-nth-7{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.address-nth-8{
    border-top-left-radius: 0px !important;
}
.address-nth-9{
    border-top-right-radius: 0px !important;
}

.hidden{display:none;}

.notifications-menu{
    left: -60px !important;
    padding: 15px;
}
.tab-pane{
    padding-top: 25px;
}

.green { color: green;}
.jsfy{ text-align: justify !important;}

.news-details{
    margin-top: 25px;
}
.news-details img {
    float:left;
    margin-right: 10px;
    padding-bottom: 20px;
    max-width: 320px;
}
.news-details p{ text-align: justify !important;}

.form-control-filter{
    display: block;
    box-sizing: border-box;
    max-width: 125px;
    background-color: transparent !important;
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    color: red;
    font-weight: bold;
}
.form-control-filter:focus{
    border: 1px solid transparent !important;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    outline: none !important; 
}
.form-control-filter::placeholder{
    font-weight: bold;
    color: #fff;
}
.noradius{
    border-radius: 0px !important;
}

/*EventCalendar*/
#calendar { 
    height: 440px !important;
}
.fc-event {
    border: 1px solid #eee !important;
}
.fc-content {
    padding: 3px !important;
}
.fc-content .fc-title {
    display: block !important;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}
.fc-customButton-button {
    font-size: 13px !important;
    position: absolute;
    top:  0px;
    left: 50%;
    transform: translateY(-50%);
}
.form-group {
    margin-bottom: 1rem;
}
.form-group>label {
    margin-bottom: 10px;
}
#delete-modal .modal-footer > .btn {
    border-radius: 3px !important; 
    padding: 0px 8px !important;
    font-size: 15px;
}
.fc-scroller {
    overflow-y: hidden !important;
    height: 365px !important
}
.fc-left h2{
    color: var(--linkColor);
}
.fc-today{
    background-color: rgb(25, 135, 84) !important;
}
.calendar-loader{
    position: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/*Badges*/
.badge-image{
    max-width: 105px;
    margin-right: 5px;
    margin-bottom: 5px;
    float:left;
    z-index: 999;
}
.profile-pub .badge-image{
    max-width: 126px;
}

/*WX map*/
.wx-icon{
    text-align: center;
    color: #000;
    background-color: #fff;
    z-index:999 !important;
}

/*Chat*/
#chat #openChat{
    position: absolute;
    bottom: 65px;
    right: 15px;
    padding: 0;
    border: 0px solid transparent;
    border-radius: 30px !important;
    background-image: url('../images/reporter.jpeg');
    background-size: 200%;
    background-position: -40px -20px;
    width: 64px;
    height: 64px;
}
#chat .popup-container {
    display: none;
    position: absolute;
    bottom: 65px;
    right: 15px;
    z-index: 1000;
}
  
#chat .popup {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
  }
  
#chat .popup-header {
    background-color: #4267B2;
    color: white;
    padding: 10px;
    font-weight: bold;
    position: relative;
  }
  
#chat .popup-header button {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
  }
  
#chat .popup-body {
    padding: 10px;
  }
  
#chat .chat-messages {
    height: 200px;
    overflow-y: auto;
  }
  
#chat .message {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
#chat .received {
    background-color: #7C7C7B;
}
#chat .received::before {
    content: "Laura: ";
    font-weight: bold;
}
  
#chat .sent {
    background-color: #424242;
}
#chat .sent::before {
    content: "Te: ";
    font-weight: bold;
}
  
#chat .chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
#chat .chat-input textarea {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
#chat .chat-input button {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4267B2;
    color: white;
    cursor: pointer;
  }
  
#chat .chat-input button:hover {
    background-color: #405D9B;
  }

.disabled{
    cursor:not-allowed !important;
}

.dl_container{
    display: flex;
}

.dl_aside{
    width: 22%;
    box-shadow: 1px -1px 0px 0px rgba(0,0,0,0.75);
    padding-top:15px;
    padding-right: 15px;
    height: calc(100vh - 116px);
}
.dl_main{
    box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.75);
    padding-left:20px;
    padding-top: 15px;
    width:100%;
}

.breadcrumb-item a{
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}
.breadcrumb-item:hover a{
    color: #198754;
}

main.flex-shrink-0 a:not(.btn){
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
}
main.flex-shrink-0 a:not(.btn):hover{
    color:#198754;
}
.leaflet-link{
	color:#07A75D !important;
	transition: all ease-in-out 0.2s;
}
.leaflet-link:hover{
	color:#157347;
}

/*DrawMap*/
.leaflet-bar a, .leaflet-bar button.drawing-button{
    color:#198754 !important;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border: 0px solid transparent;
    width:30px;
    height:30px;
    display: block;
}